- hosts: webservers
  become: true

  pre_tasks:
    - name: Ensure docker network exists
      ansible.builtin.command: docker network inspect {{ postgres_network_name }}
      register: docker_network_inspect
      failed_when: false
      changed_when: false

    - name: Create docker network
      ansible.builtin.command: docker network create {{ postgres_network_name }}
      register: docker_network_create
      changed_when: docker_network_create.rc == 0
      when: docker_network_inspect.rc != 0

    - name: Ensure postgres data directory exists
      ansible.builtin.file:
        path: "{{ postgres_data_dir }}"
        state: directory
        mode: "0755"

    - name: Pull postgres image
      ansible.builtin.command: docker pull {{ postgres_image }}
      register: docker_postgres_pull
      changed_when: "'Downloaded newer image' in docker_postgres_pull.stdout or 'Downloaded newer image' in docker_postgres_pull.stderr"

    - name: Remove existing postgres container (if any)
      ansible.builtin.command: docker rm -f {{ postgres_container_name }}
      register: docker_postgres_rm
      failed_when: false
      changed_when: docker_postgres_rm.rc == 0

    - name: Run postgres container
      ansible.builtin.command: >-
        docker run
        -d
        --restart always
        --name {{ postgres_container_name }}
        --network {{ postgres_network_name }}
        -e POSTGRES_DB={{ postgres_db_name }}
        -e POSTGRES_USER={{ vault_spring_datasource_username }}
        -e POSTGRES_PASSWORD={{ vault_spring_datasource_password }}
        -v {{ postgres_data_dir }}:/var/lib/postgresql/data
        {{ postgres_image }}
      register: docker_postgres_run
      changed_when: true

  roles:
    - role: geerlingguy.docker
      vars:
        docker_edition: 'ce'
        docker_packages_state: present
        docker_users:
          - artem_arkhipov

    - role: docker_deploy

    - role: nginx
      vars:
        nginx_enable_https: false

    - role: geerlingguy.certbot

    - role: nginx
