- name: Deploy application stack
  hosts: webservers
  become: true

  tasks:
    - name: Подготовка сервера (Docker)
      tags:
        - setup
        - docker
      block:
        - name: Установка Docker
          ansible.builtin.include_role:
            name: geerlingguy.docker

    - name: Подготовка базы данных
      tags:
        - setup
        - postgres
      block:
        - name: Запуск Postgres в Docker
          ansible.builtin.include_role:
            name: postgres

    - name: Деплой приложения
      tags:
        - deploy
      block:
        - name: Запуск контейнера приложения
          ansible.builtin.include_role:
            name: docker_deploy

    - name: Настройка nginx
      tags:
        - nginx
      block:
        - name: Конфигурация nginx
          ansible.builtin.include_role:
            name: nginx

    - name: Выпуск сертификатов через certbot
      tags:
        - certbot
      block:
        - name: Выпуск сертификатов
          ansible.builtin.include_role:
            name: geerlingguy.certbot
