---
docker_deploy_image: ghcr.io/titanmen1/project-devops-deploy:latest
docker_deploy_container_name: bulletins

docker_deploy_networks:
  - name: bulletins-net

docker_edition: "ce"
docker_packages_state: present
docker_users:
  - artem_arkhipov

postgres_network_name: bulletins-net
postgres_image: postgres:16-alpine
postgres_container_name: bulletins-postgres
postgres_data_dir: /opt/bulletins/data/postgres
postgres_db_name: bulletins
postgres_user: "{{ vault_spring_datasource_username }}"
postgres_password: "{{ vault_spring_datasource_password }}"

docker_deploy_host_dirs:
  - /opt/bulletins/data/bulletin-images
  - /opt/bulletins/logs

docker_deploy_mounts:
  - /opt/bulletins/data/bulletin-images:/tmp/bulletin-images
  - /opt/bulletins/logs:/var/log/bulletins

docker_deploy_ports:
  - "8080:8080"
  - "9090:9090"

docker_deploy_extract_static: true
docker_deploy_static_src_path: "/app/frontend-dist"
docker_deploy_static_dest: "/opt/bulletins/static"

nginx_server_name: "hexlet-third-project.crabdance.com"
nginx_backend_port: 8080
nginx_management_port: 9090
nginx_serve_static: true
nginx_static_root: "/opt/bulletins/static"

certbot_create_if_missing: true
certbot_admin_email: "admin@{{ nginx_server_name }}"
certbot_certs:
  - domains:
      - "{{ nginx_server_name }}"
    webroot: "{{ certbot_webroot }}"
certbot_create_standalone_stop_services: []
certbot_create_method: webroot
certbot_webroot: "/var/www/certbot"
certbot_auto_renew: true
certbot_auto_renew_user: root
certbot_auto_renew_options: "--quiet --deploy-hook 'systemctl reload nginx'"

nginx_enable_https: true
nginx_ssl_certificate: "/etc/letsencrypt/live/{{ nginx_server_name }}/fullchain.pem"
nginx_ssl_certificate_key: "/etc/letsencrypt/live/{{ nginx_server_name }}/privkey.pem"
nginx_acme_webroot: "{{ certbot_webroot }}"

docker_deploy_env:
  SPRING_PROFILES_ACTIVE: "prod"
  SPRING_DATASOURCE_URL: "{{ vault_spring_datasource_url }}"
  SPRING_DATASOURCE_USERNAME: "{{ vault_spring_datasource_username }}"
  SPRING_DATASOURCE_PASSWORD: "{{ vault_spring_datasource_password }}"
  STORAGE_S3_BUCKET: "{{ vault_storage_s3_bucket }}"
  STORAGE_S3_REGION: "{{ vault_storage_s3_region }}"
  STORAGE_S3_ENDPOINT: "{{ vault_storage_s3_endpoint }}"
  STORAGE_S3_ACCESSKEY: "{{ vault_storage_s3_accesskey }}"
  STORAGE_S3_SECRETKEY: "{{ vault_storage_s3_secretkey }}"
  STORAGE_S3_CDNURL: "{{ vault_storage_s3_cdnurl }}"

docker_deploy_registry: ghcr.io
docker_deploy_registry_username: "{{ vault_ghcr_username }}"
docker_deploy_registry_password: "{{ vault_ghcr_token }}"
